@font-face {
    font-family: "Lato";
    src: local("Lato-Bold"), local("Lato Bold"),
        url("assets/fonts/Lato-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Black"), local("Lato Black"),
        url("assets/fonts/Lato-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Light"), local("Lato Light"),
        url("assets/fonts/Lato-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Regular"), local("Lato Regular"),
        url("assets/fonts/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato-Bold";
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    color: #fff;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.header-flex {
    padding: 30px 130px 28px 130px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.logo {
    padding-bottom: 2px;
}

.logo a {
    color: #fff;
    letter-spacing: 0.3px;
}

.navigation ul {
    font-weight: bold;
    padding-top: 13px;
    display: flex;
    font-size: 11px;
    text-align: right;
}

li {
    padding-right: 26px;
    color: #494e62;
    padding-left: 5px;
    letter-spacing: 0.29px;
}

li:nth-child(1),
span {
    list-style-type: none;
    color: #d3625c;
}

li:nth-child(5) {
    padding-right: 0;
}

.navli {
    color: #fff;
}

li:nth-child(1) .navli {
    color: #d3625c;
}

.navli:hover {
    color: #d3625c;
    ;
}

.slider {
    background-color: #f06c64;
    position: relative;
}

.next img {
    transform: scale(-1, 1)
}

.slider .next,
.slider .prev {
    background-color: transparent;
    position: absolute;
    bottom: 290px;
    opacity: .5;
}

.slider .next {
    right: 203px;
}

.slider .prev {
    left: 209px;
}

.slider a:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.phone {
    padding: 52px 200px 56px 204px;
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid #ea676b;
}

.goriz {
    padding: 121px 0 0 0;
}

h1 {
    padding: 57px 0 19px 0;
    font-family: "Lato-Black";
    letter-spacing: -0.3px;
    font-size: 31px;
    color: rgb(102, 109, 137);
}

p {
    font-family: "Lato-Light";
    text-align: justify;
    padding-left: 1px;
    letter-spacing: 0.23px;
    font-size: 17px;
    line-height: 175%;
    color: rgb(118, 126, 158);
}

.services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-bottom: 46px;
}

.discription {
    padding: 0 130px 25px 130px;
}

.services-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 130px 0 130px;
}

.flex-item {
    padding: 18px 0 10px 0;
    width: 298px;
    background-repeat: no-repeat;
    background-position: 0 24px;
}

.flex-item h3,
.flex-item p {
    padding-left: 80px;
}

h3 {
    font-size: 18px;
    font-family: "Lato-Black";
    color: rgb(102, 109, 137);
    padding-bottom: 9px;
}

.msg h3 {
    letter-spacing: -0.5px;
}

.flex-item p {
    font-size: 12px;
    letter-spacing: -0.01px;
    text-align: justify;
    line-height: 170%;
    font-family: "Lato-Regular";
    color: rgb(118, 126, 158);
    line-height: 1.797;
}

.pensil {
    background-image: url("assets/pensil.png");
}

.lamp {
    background-image: url("assets/lamp.png");
}

.msg {
    background-image: url("assets/msg.png");
}

.like {
    background-image: url("assets/like.png");
}

.phon {
    background-image: url("assets/phone.png");
}

.star {
    background-image: url("assets/star.png");
}