@font-face {
    font-family: Lato-Bold;
    src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-BoldItalic;
    src: url(assets/fonts/Lato-BoldItalic.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

header {
    color: #fff;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding: 67px 40px 47px 40px;
}

.portfolio {
    padding-top: 3px;
}

h2 {
    font-family: Lato-Black;
    font-size: 30px;
    color: rgb(102, 109, 137);
    padding-bottom: 18px;
    font-weight: 900;
}

p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: Lato-Light;
    text-align: justify;
    margin: 0 80px 0 0px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 288px;
    padding: 11px 0 19px 0;
}

.navigation button {
    font-family: Lato-Regular;
    font-size: 12px;
    line-height: 18px;
    color: #767e9e;
    border-radius: 5px;
    border: 1px solid #666d89;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    padding: 0px 6px 0px 6px;
}

.navigation button:first-child {
    border: 1px solid #c5c5c5;
    color: #dedede;
    margin: 0 2px 0 0;
    padding: 1px 7px;
}
.navigation button:last-child {
    padding: 0px 6px 0px 5px;
}

.gallery {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.gallery div {
    width: 220px;
    height: 187px;
    margin: 0 20px 20px 0;   
}
.gallery div:nth-child(1) {
    background-image: url(assets/boat.gif);
    background-position-x: -8px;
    background-position-y: -11px;
}
.gallery div:nth-child(2) {
    background-image: url(assets/birds.gif);
    background-position-x: -82px;
    background-position-y: -43px;
}
.gallery div:nth-child(3) {
    background-image: url(assets/city.gif);
    background-position-x: -11px;
    background-position-y: -1px;
}
.gallery div:nth-child(4) {
    background-image: url(assets/robot.gif);
    background-position-x: -24px;
    background-position-y: -2px;
}
.gallery div:nth-child(5) {
    background-image: url(assets/graypict.gif);
    background-position-x: -10px;
    background-position-y: -16px;
}
.gallery div:nth-child(6) {
    background-image: url(assets/sdk.gif);
    background-position-x: -16px;
    background-position-y: -4px;
}
.gallery div:nth-child(7) {
    background-image: url(assets/robots.gif);
    background-position-x: -31px;
    background-position-y: -39px;
}
.gallery div:nth-child(8) {
    background-image: url(assets/hen.gif);
    background-position-x: -24px;
    background-position-y: -32px;
}
.gallery div:nth-child(9) {
    background-image: url(assets/moon.gif);
    background-position-x: -16px;
    background-position-y: -2px;
}
.gallery div:nth-child(10) {
    background-image: url(assets/recotdplay.gif);
    background-position-x: -141px;
    background-position-y: -113px;
}
.gallery div:nth-child(11) {
    background-image: url(assets/redEya.gif);
    background-position-x: -144px;
    background-position-y: -175px;
}

.gallery div:nth-child(12) {
    background-image: url(assets/radio.gif);
    background-position-x: -36px;
    background-position-y: -60px;
}

.services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding: 59px 0 211px 0;
}

.services-flex {
    width: 960px;
    display: flex;
    margin: 44px 0px 0px 0px;
    
}
.flex-item{
    width: 300px;
    height: 300px;
    margin: 0 20px 0 0;
}
.avatar {
    width: 300px;
    height: 300px;    
}
h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: Lato-Black;
    margin-bottom: -3px;
    margin-left: -2px;
    padding: 16px 0 14px 0;
}
.flex-item p {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: Lato-Regular;
    text-align: justify;
    width: 300px;    
}
.flex-item:first-child p {
    text-align: left;
    width: 304px;    
}
.flex-item span{
    letter-spacing: -0.1px;
}
.flex-item a img{
    padding: 22px 6px 0 0;
}
