@font-face {
    font-family: Lato-Bold;
    src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-BoldItalic;
    src: url(assets/fonts/Lato-BoldItalic.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Lato-Bold;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

header {
    color: #fff;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-flex {
    padding: 30px 40px 28px 40px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    transition: .2s linear;
}

.logo {
    padding-bottom: 2px;
}

.logo a {
    color: #fff;
    letter-spacing: 0.3px;
}

.navigation ul {
    font-weight: bold;
    padding-top: 13px;
    display: flex;
    font-size: 11px;
    text-align: right;
}

li {
    padding-right: 26px;
    color: #494e62;
    padding-left: 5px;
    letter-spacing: 0.29px;
}

li:nth-child(1),
span {
    list-style-type: none;
    color: #d3625c;
}

li:nth-child(5) {
    padding-right: 0;
}

.navli {
    color: #fff;
}

li:nth-child(1) .navli {
    color: #d3625c;
}

.navli:hover {
    color: #d3625c !important;
}

#slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding-top: 95px;
    transition: opacity 0.3s ease;
}

.slid2,
.slid1 {
    transition: opacity 0.3s ease;
}

.opacityNan {
    opacity: 0;
}

.sliderActiv {
    background-color: #648bf0 !important;
    border-bottom: 6px solid #5677cd !important;
    transition: opacity 0.3s ease;
}

.sliders {
    position: relative;
}

.next img {
    transform: scale(-1, 1)
}

.sliders .next,
.sliders .prev {
    background-color: transparent;
    position: absolute;
    bottom: 280px;
    opacity: .5;
}

.sliders .next {
    right: 0;
    padding-right: 40px;
}

.sliders .prev {
    padding-left: 42px;
}

.sliders a:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.phone {
    padding: 52px 110px 56px 112px;
    display: flex;
    justify-content: space-between;
}

.phone img {
    position: relative;
}

.vertic {
    height: 483px;
}



.slid2 img {
    padding: 43px 252px 38px 252px;
}

.none {
    display: none;
}

.goriz {
    padding: 121px 0 0 73px;
    height: 240px;
}

.black {
    left: 13px;
    z-index: 2;
    bottom: 421px;
}

.black-goriz {
    left: 132px;
    z-index: 2;
    bottom: 302px;
    transform: rotate(90deg);
}

h1 {
    padding: 57px 0 19px 0;
    font-family: Lato-Black;
    letter-spacing: -0.6px;
    font-size: 31px;
    color: rgb(102, 109, 137);
}

#services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-bottom: 50px;
}

#services .discription {
    padding: 0 40px 25px 40px;
}

.services-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0 40px 0 40px;
}

.flex-item {
    padding: 19px 0 10px 0;
    width: 300px;
    background-repeat: no-repeat;
    background-position: 0 22px;
    text-align: justify;
    /* margin-right: 20px; */
}

.flex-item h3,
.flex-item p {
    letter-spacing: -0.1px;
    padding-left: 79px;
    padding-top: 1px;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    font-family: Lato-Black;
}

.flex-item h3 {
    color: #666d89;
    margin: 0;
    letter-spacing: -0.1px;
}

.flex-item p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: Lato-Regular;
    font-weight: 400;
    margin: 7px -1px -1px 0;
}

.pensil {
    background-image: url("assets/pensil.png");
}

.pensil p {
    padding-left: 81px;
    letter-spacing: -0.1px;
}

.lamp {
    background-image: url("assets/lamp.png");
}

.like {
    background-image: url("assets/like.png");
}

.msg {
    background-image: url("assets/msg.png");

}

.phon {
    background-image: url("assets/phone.png");
}

.star {
    background-image: url("assets/star.png");
}

.msg p,
.phon p,
.star p {
    padding: 4px 0 0 79px;
    letter-spacing: -0.1px;
}


/* singolo 2 */
#portfolio {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio_title {
    color: #fff;
    padding: 62px 40px 48px 41px;
}

.discription h2 {
    font-family: Lato-Black;
    font-size: 30px;
    color: rgb(102, 109, 137);
    padding-bottom: 20px;
    font-weight: 900;
    letter-spacing: -0.005em;
    line-height: 1em;
}

.discription p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: Lato-Light;
    text-align: justify;
    overflow: hidden;
}

#portfolio .navigation {
    display: flex;
    justify-content: space-between;
    width: 288px;
    padding: 11px 0 19px 0;
}

button,
button:active,
button:focus {
    outline: none;
}

.all,
.artwork,
.webDesign,
.graphic {
    font-family: Lato-Regular;
    font-size: 12px;
    line-height: 18px;
    color: #767e9e;
    border-radius: 5px;
    border: 1px solid #666d89;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    padding: 0px 6px 0px 6px;
}

.all {
    padding: 1px 7px;
}


.artwork {
    padding: 0px 6px 0px 5px;
}

#portfolio .navigation button:hover {
    border: 1px solid #c5c5c5;
    color: #dedede;
}

.activButton {
    border: 1px solid #c5c5c5;
    color: #dedede;
}

.gallery {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.gallery div {
    width: 220px;
    height: 187px;
    margin: 0 20px 20px 0;
}

.gallery div:nth-child(1) {
    background-image: url(assets/boat.gif);
    background-position-x: -8px;
    background-position-y: -11px;
}

.gallery div:nth-child(2) {
    background-image: url(assets/birds.gif);
    background-position-x: -82px;
    background-position-y: -43px;
}

.gallery div:nth-child(3) {
    background-image: url(assets/city.gif);
    background-position-x: -11px;
    background-position-y: -1px;
}

.gallery div:nth-child(4) {
    background-image: url(assets/robot.gif);
    background-position-x: -24px;
    background-position-y: -2px;
}

.gallery div:nth-child(5) {
    background-image: url(assets/graypict.gif);
    background-position-x: -10px;
    background-position-y: -16px;
}

.gallery div:nth-child(6) {
    background-image: url(assets/sdk.gif);
    background-position-x: -16px;
    background-position-y: -4px;
}

.gallery div:nth-child(7) {
    background-image: url(assets/robots.gif);
    background-position-x: -31px;
    background-position-y: -39px;
}

.gallery div:nth-child(8) {
    background-image: url(assets/hen.gif);
    background-position-x: -24px;
    background-position-y: -32px;
}

.gallery div:nth-child(9) {
    background-image: url(assets/moon.gif);
    background-position-x: -16px;
    background-position-y: -2px;
}

.gallery div:nth-child(10) {
    background-image: url(assets/recotdplay.gif);
    background-position-x: -141px;
    background-position-y: -113px;
}

.gallery div:nth-child(11) {
    background-image: url(assets/redEya.gif);
    background-position-x: -144px;
    background-position-y: -175px;
}

.gallery div:nth-child(12) {
    background-image: url(assets/radio.gif);
    background-position-x: -36px;
    background-position-y: -60px;
}

.activ_border {
    outline: 5px solid #F06C64;
}

#about {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.aboutUs {
    padding: 63px 40px 209px 40px;
}

.aboutUs .discription {
    padding: 0 0 2px 0;
}

.about-flex {
    width: 960px;
    display: flex;
    margin: 44px 0px 0px 0px;

}

.about-item {
    width: 300px;
    height: 300px;
    margin: 0 20px 0 0;
}

.avatar {
    width: 300px;
    height: 300px;
}

.about-item h3 {
    color: #666d89;
    padding: 14px 0 9px 0;
    letter-spacing: -0.1px;
}

.about-item p {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: Lato-Regular;
    text-align: justify;
    width: 300px;
}

.about-item:first-child p {
    text-align: left;
    width: 304px;
}

.about-item p span {
    letter-spacing: -0.1px;
    color: #767e9e;
}

.social span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #666d89;
    margin: 24px 5px 0 0px;
    cursor: pointer;
}

.social span:hover {
    border: 3px solid #f06c64;

}

.social .facebook {
    background-image: url(assets/facebook.png);
    background-position: center;
    background-repeat: no-repeat;
}


.social .gPlus {
    background-image: url(assets/google+.png);
    background-position: center;
    background-repeat: no-repeat;
}


.social .twit {
    background-image: url(assets/twitter.png);
    background-position: center;
    background-repeat: no-repeat;
}


.social .link {
    background-image: url(assets/linkedin.png);
    background-position: center;
    background-repeat: no-repeat;
}

/*
singolo 3*/

.get_quote {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    color: rgb(240, 216, 217);
}

.get {
    padding: 59px 40px 0;
}

.get_quote h2 {
    font-family: Lato-Black;
    font-size: 30px;
    padding-bottom: 18px;
    font-weight: 900;
}

.get_quote p {
    font-size: 18px;
    line-height: 30px;
    font-family: Lato-Light;
    text-align: justify;
    margin: 0 20px 0 0px;
    width: 940px;
}

.quote-flex {
    width: 960px;
    display: flex;
    margin: 44px 0px 0px 0px;

}

input,
textarea {
    width: 619px;
    height: 37px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    margin: 0 21px 17px 0;
    font-size: 12px;
    line-height: 22px;
    font-family: Lato-Regular;
}

textarea {
    height: 200px;
    line-height: 34px;
    resize: none;
}

input::placeholder {
    color: #f48c8f;
    padding-left: 15px;
    margin: 0 21px 12px 0;
}

.send {
    background-color: #FBC65F;
    color: #886A30;
    font-size: 14px;
    width: 136px;
    text-align: center;

}

.send:hover {
    cursor: pointer;
    background-color: rgb(114, 189, 250);
    font-weight: 700;
}

textarea::placeholder {
    color: #f48c8f;
    padding-left: 15px;
}

.quote-item h3 {
    letter-spacing: -0.1px;
}

.quote-item p {
    width: 302px;
    padding-top: 9.5px;
    line-height: 22px;
    letter-spacing: -0.01px;
    overflow: hidden;
    font-size: 12px;
    font-family: Lato-Regular;
}

.quote-item p span {
    letter-spacing: 0px;
    color: rgb(240, 216, 217);
}

.contact {
    font-size: 12px;
    line-height: 21px;
    font-family: Lato-Regular;
    cursor: pointer;
    margin-top: 18px;
}

.contact span:nth-child(2) {
    margin: 0 13px;
    color: rgb(240, 216, 217);
}

.contact span:last-child {
    margin: 0 12px;
    color: rgb(240, 216, 217);
}

#email {
    margin: 0 10px;
}

[src='assets/geo.png'] {
    margin-left: 4px;
    margin-top: 6px;
}

footer {
    height: 76px;
    background-color: #2d303a;
    position: relative;
}

.footer-container {
    display: flex;
}

.footer-container p {
    font-size: 12px;
    line-height: 6px;
    color: #666d89;
    font-family: Lato-Regular;
    margin: 35px 0 0 42px;
    letter-spacing: -0.1px;
}

.footer-container .social {
    position: absolute;
    right: 198px;
    top: -2px;
}

.footer-container .social .facebook {
    margin-right: 6px;
}


.footer-container .social .gPlus {
    margin-right: 4px;
}


.footer-container .social .twit {
    margin-right: 7px;
}

#mdl_msg {
    text-align: left;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
}

#mdl_msg div {
    width: 20%;
    height: 50%;
    margin-left: 25%;
    background-color: thistle;
    color: black;
    padding: 20px 0 0 100px;
}

.cross {
    color: rgb(97, 53, 53);
    position: relative;
    bottom: 55px;
    left: 34%;
    font-size: 28px;
    font-weight: bold;
}

.cross:hover,
.cross:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.burger-menu {
    display: none;
}

@media screen and (max-width: 1035px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (max-width: 1019px) {
    .vertic {
        height: 364px;
    }

    .vertic [src="assets/phoneV.png"] {
        width: 180px;
        height: 363px;
    }

    .vertic [src="assets/black.png"],
    .goriz [src="assets/black.png"] {
        width: 142px;
        height: 251px;
    }

    .slid2 img {
        width: 364px;
        height: 363px;
        padding: 40px 0 38px 205px;
    }

    .goriz [src="assets/phoneG.png"] {
        height: 180px;
        width: 363px;
    }

    .black {
        left: 10px;
        bottom: 318px;
    }

    .black-goriz {
        left: 99px;
        bottom: 228px;
    }

    .sliders .next,
    .sliders .prev {
        bottom: 201px;
    }

    .sliders .prev {
        padding-left: 28px;
    }

    .sliders .next {
        padding-right: 27px;
    }

    .gallery {
        width: 100%;
    }

    .gallery div {
        width: 216px;
        height: 183px;
        margin: 0 0 20px 0;
    }

    .about-flex {
        width: 100%;
    }

    .about-item,
    .avatar {
        width: 219px;
        height: 219px;
        margin: 0 15px 0 0;
    }

    .about-item p {
        width: 219px !important;
    }

    .get_quote p {
        width: 100%;
    }

    input,
    textarea {
        width: 442px;
        height: 37px;
        margin: 0 21px 13px 0;
    }

    textarea {
        height: 159px;
    }

    .quote-flex {
        width: 100%;
    }

    .footer-container .social {
        right: 35px;
    }

    /* подгон */
    .navigation ul {
        padding-top: 10px;
    }

    .phone {
        padding: 41px 110px 39px 84px;
    }

    .goriz {
        padding: 92px 0 0 55px;
    }

    h1 {
        padding: 39px 0 19px 0;
    }

    .flex-item {
        padding: 11px 33px 42px 0;
        background-position: 0 12px;
    }

    #services {
        padding-bottom: 27px;
    }

    .discription p {
        width: 638px;
    }

    #portfolio .navigation {
        padding: 11px 0 31px 0;
    }

    .aboutUs {
        padding: 55px 40px 209px 40px;
    }

    .about-flex {
        margin: 39px 0px 0px 2px;
    }

    .about-item h3 {
        padding: 8px 0 3px 0;
    }

    .social span {
        margin: 14px 5px 0 0px;
    }

    .get {
        padding: 52px 40px 29px;
    }

    .quote-flex {
        margin: 25px 0px 0px 0px;
    }

    .footer-container .social {
        top: 7px;
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        display: none;
    }

    .header-flex {
        display: flex;
        justify-content: center;
        padding: 23px 49px 15px 82px;
    }

    .logo h2 {
        font-size: 19px;
    }

    /* burger-menu */
    .burger-menu {
        display: block;
    }

    .burger-menu__button {
        position: fixed;
        top: 19px;
        left: 28px;
        z-index: 30;
        width: 30px;
        height: 30px;
        transition: .2s linear;
        transition: 0.4s;
    }

    .burger-menu__button:hover .burger-menu__lines {
        filter: brightness(0.7);
    }

    .burger-menu__lines,
    .burger-menu__lines::after,
    .burger-menu__lines::before {
        position: absolute;
        width: 25px;
        height: 2.4px;
        background-color: white;
        transition: 0.2s;
    }

    .burger-menu__lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger-menu__lines::after {
        content: "";
        top: -9.4px
    }

    .burger-menu__lines::before {
        content: "";
        top: 9.4px
    }

    .burger-menu_active .burger-menu__lines {
        transform: rotate(90deg);
    }

    .burger-menu_active .burger-menu__lines::before {
        top: 9.4px;
        transform: rotate(180deg);
    }

    .burger-menu_active .burger-menu__lines::after {
        top: -9.4px;
        transform: rotate(180deg);
    }

    .burger-menu__nav {
        padding: 180px 0 0 71px;
        position: fixed;
        z-index: 20;
        display: flex;
        flex-flow: column;
        width: 205px;
        height: 100%;
        background-color: #2D303A;
        overflow: auto;
        left: -100%;
        transition: 0.6s;
    }

    .burger-menu__nav a {
        padding-bottom: 25px;
    }

    .burger-menu_active .burger-menu__nav {
        left: 0;
    }

    .burger-menu__button h2 {
        display: none;
        padding: 5px 0 0 60px;
        font-size: 19px;
    }

    .burger-menu__overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .burger-menu_active .burger-menu__overlay,
    .burger-menu_active .burger-menu__button h2 {
        display: block;
    }

    #slider {
        padding-top: 90px;
    }

    .phone {
        padding: 0px 110px 17px 40px;
    }

    .goriz {
        padding: 46px 0 0 28px;
        height: 88px;

    }

    .vertic {
        height: 177px;
    }

    .vertic [src="assets/phoneV.png"] {
        width: 88px;
        height: 177px;
    }

    .goriz [src="assets/phoneG.png"] {
        height: 88px;
        width: 177px;
    }

    .vertic [src="assets/black.png"],
    .goriz [src="assets/black.png"] {
        width: 69px;
        height: 122px;
    }

    .black {
        left: 5px;
        bottom: 156px;
    }

    .black-goriz {
        left: 48px;
        bottom: 112px;
    }

    .sliders .prev {
        padding-left: 9px;
    }

    .sliders .next,
    .sliders .prev {
        bottom: 86px;
    }

    .sliders .next {
        padding-right: 10px;
    }

    .slid2 img {
        padding: 0px 0px 15px 116px;
        width: 179px;
        height: 178px;

    }

    #services {
        padding-bottom: 0px;
    }

    #services .discription {
        padding: 0 26px 25px 31px;
    }

    h1 {
        padding: 26px 0 19px 0;
    }

    .discription p {
        width: 100%;
        text-align: left;
    }

    .flex-item {
        padding: 2px 0px 25px 0;
        background-position: 0 2px;
    }

    .services-flex {
        padding: 0 27px 0 33px;
    }

    .msg p,
    .phon p,
    .star p {
        padding: 0px 0 0 79px;
    }

    .portfolio_title {
        padding: 44px 13px 21px 29px;
    }

    #portfolio .navigation {
        padding: 17px 0 25px 0;
    }

    .gallery div {
        width: 151px;
        height: 128px;
        background-size: 165px 165px;
        margin: 0 15px 14px 0;
    }

    .gallery div:nth-child(1) {
        background-position-x: -3px;
        background-position-y: -7px;
    }

    .gallery div:nth-child(2) {
        background-position-x: -60px;
        background-position-y: 154px;
        background-size: 255px 182px;
    }

    .gallery div:nth-child(3) {
        background-position-x: 0px;
        background-position-y: -5px;
        background-size: 163px 230px;
    }

    .gallery div:nth-child(4) {
        background-position-x: -8px;
        background-position-y: -13px;
    }

    .gallery div:nth-child(5) {
        background-position-x: -7px;
        background-position-y: -8px;
    }

    .gallery div:nth-child(6) {
        background-position-x: -6px;
        background-position-y: -17px;
    }

    .gallery div:nth-child(7) {
        background-position-x: -17px;
        background-position-y: -29px;
        background-size: 244px 257px;
    }

    .gallery div:nth-child(8) {
        background-position-x: -8px;
        background-position-y: -12px;
    }

    .gallery div:nth-child(9),
    .gallery div:nth-child(10),
    .gallery div:nth-child(11),
    .gallery div:nth-child(12) {
        display: none;
    }

    .aboutUs {
        padding: 36px 20px 34px 30px;
    }

    .about-flex {
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
        margin: -6px 0px 0px 1px;
    }

    .about-item,
    .avatar {
        width: 314px;
        height: 100%;
        padding-top: 15px;
    }

    .about-item h3 {
        padding: 15px 0 3px 0;
    }

    .about-item p {
        width: 100% !important;
    }

    .get {
        padding: 44px 30px 42px;
    }

    .quote-flex {
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
        margin: 21px 0px 0px 0px;
    }

    input,
    textarea,
    .send {
        width: 106%;
        margin: 0 0 13px 0;
    }

    .send {
        height: 50px;
        margin-bottom: 30px;
    }

    .quote-item p {
        padding-top: 3px;
        width: 103%;
    }

    .contact {
        margin-top: 11px;
    }

    [src='assets/geo.png'] {
        margin-left: 3px;
    }

    .footer-container p {
        display: none;
    }

    .footer-container .social {
        right: 88px;
    }

    #mdl_msg div {
        padding: 20px 56px 0 50px;
    }

    .cross {
        left: 42%;
    }
}

@media screen and (max-width: 374px) {
    #services {
        padding-right: 10px;
    }
    .vertic [src="assets/phoneV.png"] {
        width: 70px;
        height: 141px;
    }

    .goriz [src="assets/phoneG.png"] {
        height: 70px;
        width: 141px;
    }

    .vertic {
        height: 141px;
    }

    .goriz {
        padding: 35px 0 0 19px;
        height: 70px;
    }

    .sliders .next {
        padding-right: 10px;
    }

    .slid2 img {
        padding: 0px 0px 14px 75px;
        width: 142px;
        height: 141px;
    }

    #portfolio .navigation {
        width: 100%;
    }

    .about-item,
    .avatar {
        width: 250px;
        margin: 0;
    }
}